@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                    <img src="https://static.pexels.com/photos/207691/pexels-photo-207691.jpeg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Welcome to...</p>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                    <img src="https://static.pexels.com/photos/267885/pexels-photo-267885.jpeg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>The one and only...</p>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                    <img src="https://www.slv.vic.gov.au/sites/default/files/library_orientation.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Contoso University.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
